

.sidebar-containe{
     overflow: scroll;
 
     border-right: 2px solid #e5e5e5 ;
      
     height: 100%;
     position: fixed;
     display: flex;
     flex-direction: column;
   
     align-items: left;
     padding-top: 10px;
     overflow-x: hidden;
}

.sidebar-containe::-webkit-scrollbar{
     display: block;
}



