
.Navigation .logo{
}

.Navigation .logo p{
    font-size: 25px;
    font-weight: 700;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    background-color: coral ;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: serif;
  
}
.section{
    padding: 10px 8px 0;
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: antiquewhite;
   
}
.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    margin: 0 10px;

   
    
    
}
.Input input{
    padding-left: 10px;
    font-size: 16px;
    border: none;
    background-color: #f7f6f6;
    outline: none;
    position: relative;
    padding: 8px ;
    border-radius: 10px;
    cursor: pointer;
    width: 600px;

}

.product{
    padding-top: 100px;
}

.Icons .icons{
       color: black;
       font-size: 20px;
      margin-left: 10px;
}

.togglebtn{
    font-size: 24px;
    color: coral; 
}

.nav-menu{
     /* left:-200px; */
     display: flex;
    
     align-items: center;
     justify-content: center;
     top: 73px;
    transition: 850ms;
    height: 100%;
    background-color: antiquewhite;
    width: 200px;
    position: fixed;
   
    right: 100%;
   
    padding-top: 120px; 
    overflow: scroll;
}

.nav-menu.active{
left: 0;
transition: 350ms;
}